/* Style for all */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* Style header part */

.header-top {
    padding: 20px 0;
    background-color: #212121;
    text-align: center;
}

.header-top a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
}

.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-main-menu {
    display: flex;
    gap: 50px;
    margin-left: 30px;
}

.header-main-menu .item a.hover_item {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    text-decoration: none;
    transition: color 0.3s;
    transition: text-decoration 0.3s;
}

.header-main-menu .item a.hover_item:hover {
    color: #040694;
    border-bottom: 3px solid #040694;
    padding-bottom: 1px;
}

.header-mini-logo {
    display: flex;
    gap: 40px;
}


/* Style Main Part */

/* Swiper img */


.swiper-img {
    /* position: relative; */
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-content {
    position: absolute;
    top: 50%;
    margin-left: 30px;
    margin-top: -120px;
}

.swiper-content .swiper-word {
    color: #ffffff;
    font-family: Abril Fatface;
    font-size: 96px;
}

.swiper-content a {
    text-decoration: none;
    color: #ffffff;
    background-color: #212121;
    border-radius: 8px;
    display: inline-block;
    width: 160px;
    height: 54px;
    margin-top: 30px;
    margin-right: 590px;
    line-height: 50px;
}




/* Content-1 style */

.word-heading {
    margin-top: 30px;
}

.word-heading h2 {
    font-family: Abril Fatface;
    font-size: 42px;
    font-weight: 400;
    line-height: 56.66px;
    text-align: center;
}

.word-heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.block {
    width: 100%;
}

.content-1-img {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.dress-1 {
    position: relative;
    width:33.33333333%
}

.dress-1 img {
    border-radius: 8px;
    display: block;
}

.dress-1 .label {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 80px;
    height: 44px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 13px 13px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 7px;
    text-decoration: none;
}

.dress-1 h5 {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.dress-1 p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.dress-button {
    text-align: center;
    margin-top: 30px;
}

.dress-button a {
    display: inline-block;
    width: 160px;
    height: 54px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
}

/* Content-2 style */

.content-2-img-block {
    margin-top: 30px;
}

.content-2-accessory {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.content-accessory {
    width: 70%;
    height: 100%;
}

.accessory-1 {
    width: 100%;
}

.accessory-1 img {
    height: 50%;
}

.accessory-2 img{
    width: 1018px;
    height: 50%;
}

.accessory-3 {
    width: 30%;
}

.accessory-3 img {
    width: 100%;
    height: 1021px;
}

.marquee {
    display: flex;
    width: 100%;
    height: 150px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-color: #212121;
    padding: 54px 0;
    margin-top: 50px;
}

.text {
    font-family: Abril Fatface;
    display: inline-block;
    padding: 0 2rem;
    font-size: 32px;
    animation: marquee 10s linear infinite;
    color: #ffffff;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Content-3 style */

.content-3-menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.content-3-menu .item a {
    text-decoration: none;
    font-family: Abril Fatface;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #979797;
    transition: color 0.3s;
}

.content-3-menu .item a:hover {
    color: #000000;
    font-size: 32px;
}

.label_3 {
    position: absolute;
    width: 150px;
    height: 44px;
    top: 16px;
    left: 16px;
    text-align: center;
    padding: 12px 0;
    border-radius: 8px;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}

/* Content-4 style */

.content-4-swiper {
    position: relative;
    height: 100%;
    margin-top: 30px;
}

/* .content-4-swiper {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
} */

.content-4-swiper .swiper {
    width: 100%;
    height: 100%;
}

.content-4-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-4-swiper .swiper-slide .content-4-img img.content-4-img-1 {
    display: block;
    width: 70%;
    object-fit: cover;
}

.content-4-img {
    display: flex;
    width: 100%;
    gap: 10px;
}





/* Content 5 style */

.content-5-img {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    gap: 10px;
}

.content-5-img .content-5-img-1 img {
    border-radius: 7px;
    display: block;
}


/* Content 6 style */

.content-6-banner {
    background-image: url('../images/content-6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 408px;
    border-radius: 7px;
    margin-top: 20px;
}

.content-6-banner-word {
    text-align: center;
    padding: 120px;
}

.content-6-banner-word-1 h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #ffffff;
}

.content-6-banner-word-1 h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.content-6-banner-word-2 {
    margin-top: 50px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    width: 514px;
    height: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.input-container input::placeholder {
    color: #979797;
    letter-spacing: 1px;
}

.input-container::after {
    content: '→';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #212121;
}

.content-6-banner-word-2 h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    margin-top: 10px;
}


/* Style footer */

.footer {
    background: #000000;
    color: #ffffff;
    margin-top: 30px;
}

.footer_container {  
    width: 100%;
    display: flex;
    font-size: 16px;
    gap: 100px;
}

.left_footer {
    padding-top: 30px;
}

.menu_footer {
    display: flex;
    justify-content: space-between;
}

.box_footer {
    display: flex;
    gap: 50px;
}

.box_footer_1 {
    position: relative;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    gap: 8px;
    border: 0.5px solid #fff;
    display: flex;
    align-items: center;
}

.box_footer_2 {
    position: relative;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    gap: 8px;
    border: 0.5px solid #fff;
    display: flex;
    align-items: center;
}

.logo_footer, .menu_footer, .box_footer {
    margin-bottom: 20px;
}

.right_footer {
    padding-top: 60px;
    width: 100%;
}

.right_footer_contact {
    display: flex;
    justify-content: space-between;
}

.social_icon {
    display: flex;
    gap: 25px;
}

.mini_logo_right_footer h3 {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    gap: 50px;
}

.right_footer_icon {
    display: block;
    margin-bottom: 10px;
}

.right_footer_call h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.list_name {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.icon_footer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0;
    margin-left: 0;
}

.icon_footer_mini {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.icon_footer_mini a {
    width: 80px;
    height: auto;
}